{% extends 'main.html' %}
{% block body %}
    <h1 class="center">编辑比赛#{{contest[0]}}. {{contest[1]}}</h1>
    <br>
    <form class="form-horizontal">
        <fieldset>
            <legend>编辑比赛</legend>
            {% raw xsrf_form_html()%}
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">比赛名称</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName"  name="name" value="{{contest[1]}}"required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputInfo" class="col-lg-2 control-label">比赛简单介绍</label>
                <div class="col-lg-10">
                    <span class="help-block">显示在比赛目录</span> 
                    <textarea class="form-control" rows="5" id="inputInfo" name="info"  required>{{contest[8]}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputContent" class="col-lg-2 control-label">比赛介绍</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="10" id="inputContent" name="content" required>{{contest[6]}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputProblems" class="col-lg-2 control-label">比赛题目</label>
                <div class="col-lg-10">
                    <span class="help-block">题目建议处于隐藏状态</span>
                    <span class="help-block">题目编号JSON list，如[1,2,3]</span>
                    <textarea class="form-control" rows="3" id="inputProblems" name="problems" required>{{contest[7]}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBegin" class="col-lg-2 control-label">比赛开始时间</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputBegin" name="begin_date" value="{{contest[3]}}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEnd" class="col-lg-2 control-label">比赛结束时间</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEnd" name="end_date" value="{{contest[4]}}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputAuthor" class="col-lg-2 control-label">举办者</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputAuthor" value="{{contest[2]}}" name="author" value="{{contest[2]}}" required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputVisible" class="col-lg-2 control-label">比赛可见度</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputVisible" name="visible" value="{{contest[9]}}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputStatus" class="col-lg-2 control-label">比赛状态</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputStatus" name="status" value="{{contest[5]}}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" formmethod="post" class="btn btn-primary">提交</button>
                </div>
            </div>
        </fieldset>
    </form>

{% end %}
