{% extends 'main.html' %}

{% block body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>比赛名称</th>
            <th>开始时间</th>
            <th>举办者</th>
            <th>介绍</th>
        </tr>
    </thead>
    <tbody>
        {% for row in contests %}
        <tr>
            <td>{{row[0]}}</td>
            <td><a href="/contest/{{row[0]}}">{{row[1]}}</a></td>
            <td>{{row[2]}}</td>
            <td><a href="/user/{{row[3]}}">{{row[3]}}</a></td>
            <td>{{row[4]}}</td>
        </tr>
        {% end %}
    </tbody>
</table>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <button class="btn btn-info" onclick="window.location.href='/contest/new'">添加新比赛</button>
    </div>
</div>
<div class="center">
    <ul class="pagination">
        <li {% if pages[0][0] == 0%} class="disabled"{% end%}><a href="{{pages[0][2]}}">&laquo;</a></li>
        {% for row in pages[1] %}
        <li {% if row[2]%} class="active"{% end %}><a href="{{row[1]}}">{{row[0]}}</a></li>
        {% end %}
        <li {% if pages[0][1] == 0%} class="disable"{% end%}><a href="{{pages[0][3]}}">&raquo;</a></li>
    </ul>
</div>
{% end %}
