{% extends 'main.html' %}
{% block body %}
    <h1 class="center">比赛#{{contest[0]}}. {{contest[1]}}</h1>
    <br>
    <div class="row">
        <div class="col-md-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group">
                <button class="btn btn-info" onclick="window.location.href='/contest/{{contest[0]}}/rank'">查看排名版</button> 
                 <button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu" >
                    <li>
                        <a href="/contest/{{contest[0]}}/status">统计</a>
                    </li>
                    <li>
                        <a href="#post">讨论</a>
                    </li>
                    <li>
                        <a href="#msg">报错</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="/contest/{{contest[0]}}/edit">管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <br>
            <table class="table table-striped">
                <tbody>
                    <tr><td>当前时间</td>
                        <td>{{now}}</td></tr>
                    <tr><td>比赛开始时间</td>
                        <td>{{contest[3]}}</td></tr>
                    <tr><td>比赛结束时间</td>
                        <td>{{contest[4]}}</td></tr>
                    <tr><td>比赛已结束</td>
                        <td>比赛已结束</td></tr>
                    <tr><td>举办者</td>
                        <td>{{contest[2]}}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8" >
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">比赛公告</h3>
                </div>
                <div class="panel-body">
                    <div class="markdown content">
                        {{contest[6]}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">比赛题目</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>题目名称</th>
                                <th>通过人数</th>
                                <th>提交次数</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%set num=0 %}
                            {% for row in problems %}
                            <tr>
                                <td><a href="/contest/{{contest[0]}}/{{num}}">{{num}}</a></td>
                                <td><a href="/contest/{{contest[0]}}/{{num}}">{{row[0]}}</a></td>
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                            </tr>
                            {%set num = num + 1%}
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

{% end %}

