{% extends 'main.html' %}
{% block body %}
    <h1 class="center">管理：#{{problem[0]}}. {{problem[2]}} 基本信息</h1>
    <br>
    <div class="row">
        <div class="col-md-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 55%"></div>
                <div class="progress-bar progress-bar-danger" style="width: 15%"></div>
                <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
                <div class="progress-bar progress-bar-info" style="width: 10%"></div>
                <div class="progress-bar progress-bar-progress-bar-striped" style="width: 7%"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group">
                 <button class="btn btn-info" onclick="window.location.href='/problem/{{problem[0]}}'">查看题目页面</button> 
                 <button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu" >
                    <li>
                        <a href="/problem/{{problem[0]}}/status">统计</a>
                    </li>
                    <li>
                        <a href="#post">讨论</a>
                    </li>
                    <li>
                        <a href="#msg">报错</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li class="active">
                        <a href="/problem/{{problem[0]}}/edit/0">管理题目基本信息</a>
                    </li>
                    <li >
                        <a href="/problem/{{problem[0]}}/edit/1">管理题面描述信息</a>
                    </li>
                    <li >
                        <a href="/problem/{{problem[0]}}/edit/2">管理题目评测信息</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr><td>总提交</td>
                        <td>100</td></tr>
                    <tr><td>通过</td>
                        <td>55</td></tr>
                    <tr><td>答案错误</td>
                        <td>15</td></tr>
                    <tr><td>超时</td>
                        <td>10</td></tr>
                    <tr><td>超内存</td>
                        <td>10</td></tr>
                    <tr><td>运行错误</td>
                        <td>7</td></tr>
                    <tr><td>编译错误</td>
                        <td>3</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">最近的十次提交</h3>
                </div>
                <div class="panel-body">
                    1,2,3,4,5
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal">
        <fieldset>
            <legend>题目基本信息</legend>
            {% raw xsrf_form_html()%}
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">题目名称</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" value="{{problem[2]}}" name="name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputType" class="col-lg-2 control-label">题目类型</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputType" value="{{problem[1]}}" name="tp" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTim" class="col-lg-2 control-label">时间限制</label>
                <div class="col-lg-10 input-group">
                    <input type="text" class="form-control" id="inputTim" value="{{problem[3]}}" name="tim_limit" required>
                    <span class="input-group-addon">ms</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputMem" class="col-lg-2 control-label">内存限制</label>
                <div class="col-lg-10 input-group">
                    <input type="text" class="form-control" id="inputMem" value="{{problem[4]}}" name="mem_limit" required>
                    <span class="input-group-addon">MB</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAuthor" class="col-lg-2 control-label">题目添加者</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputAuthor" value="{{problem[5]}}" name="author" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputVis" class="col-lg-2 control-label">可见性设置</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputVis" value="{{problem[6]}}" name="visible" required>
                </div>
            </div>
            <div class="form-group">
                <label for="disableInput" class="col-lg-2 control-label">题目创建时间</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" disabled="" id="disableInput" placeholder="{{problem[7]}}" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">重置</button>
                    <button type="submit" formmethod="post" class="btn btn-primary">提交</button>
                </div>
            </div>
        </fieldset>
    </form>

{% end %}