{% extends 'main.html' %}
{% block body %}
    <h1 class="center">管理：#{{problem[0]}}. {{problem[2]}} 数据信息</h1>
    <br>
    <div class="row">
        <div class="col-md-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{(tongji[1]+1)/(tongji[0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-danger" style="width: {{tongji[2]/(tongji[0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-warning" style="width: {{tongji[3]/(tongji[0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-info" style="width: {{tongji[4]/(tongji[0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-progress-bar-striped" style="width: {{tongji[5]/(tongji[0]+1)*100}}%"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group">
                 <button class="btn btn-info" onclick="window.location.href='/problem/{{problem[0]}}'">查看题目页面</button> 
                 <button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu" >
                    <li>
                        <a href="/problem/{{problem[0]}}/status">统计</a>
                    </li>
                    <li>
                        <a href="#post">讨论</a>
                    </li>
                    <li>
                        <a href="#msg">报错</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li >
                        <a href="/problem/{{problem[0]}}/edit/0">管理题目基本信息</a>
                    </li>
                    <li >
                        <a href="/problem/{{problem[0]}}/edit/1">管理题面描述信息</a>
                    </li>
                    <li >
                        <a href="/problem/{{problem[0]}}/edit/2">管理题目评测信息</a>
                    </li>
                    <li class="active">
                        <a href="/problem/{{problem[0]}}/edit/3">管理题目数据信息</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr><td>总提交</td>
                        <td><a href="/status?problem={{problem[0]}}">{{tongji[0]}}</a></td></tr>
                    <tr><td>通过</td>
                        <td>{{tongji[1]}}</td></tr>
                    <tr><td>答案错误</td>
                        <td>{{tongji[2]}}</td></tr>
                    <tr><td>超时</td>
                        <td>{{tongji[3]}}</td></tr>
                    <tr><td>超内存</td>
                        <td>{{tongji[4]}}</td></tr>
                    <tr><td>运行错误</td>
                        <td>{{tongji[5]}}</td></tr>
                    <tr><td>编译错误</td>
                        <td>{{tongji[6]}}</td></tr>
                    <tr><td>其他</td>
                        <td>{{tongji[0]-sum(tongji[1:])}}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">最近的十次提交 &nbsp;&nbsp;<button class="btn btn-link btn-xs" type="button" onclick="window.location.href='/status?problem={{problem[0]}}'">更多</button></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>提交者</th>
                                <th>状态</th>
                                <th>总用时</th>
                                <th>内存</th>
                                <th>代码长度</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in status %}
                            <tr>
                                <td>{{row[0]}}</td>
                                <td><a href="/user/{{row[1]}}">{{row[1]}}</a></td>
                                <td>
                                    <a href="/status/{{row[0]}}">
                                        {% if row[2] == 0 or row[2] == None %}
                                        <span class="label label-default">非法状态</span>
                                        {% end %}
                                        {% if row[2] == 1 %}
                                        <span class="label label-info">等待评测</span>
                                        {% end %}
                                        {% if row[2] == 2 %}
                                        <span class="label label-primary">评测中</span>
                                        {% end %}
                                        {% if row[2] == 3 %}
                                        <span class="label label-success">通过</span>
                                        {% end %}
                                        {% if row[2] == 4 %}
                                        <span class="label label-danger">答案错误</span>
                                        {% end %}
                                        {% if row[2] == 5 %}
                                        <span class="label label-warning">超时</span>
                                        {% end %}
                                        {% if row[2] == 6 %}
                                        <span class="label label-danger">运行错误</span>
                                        {% end %}
                                        {% if row[2] == 7 %}
                                        <span class="label label-warning">超内存</span>
                                        {% end %}
                                        {% if row[2] == 8 %}
                                        <span class="label label-danger">编译错误</span>
                                        {% end %}
                                        {% if row[2] == 9 %}
                                        <span class="label label-danger">系统错误</span>
                                        {% end %}
                                    </a>
                                </td>
                                <td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                                <td>{{row[5]}}</td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" action="{{submit_url}}" enctype="multipart/form-data" >
        {% raw xsrf_form_html()%}
        <fieldset>
            <input  type="hidden" name="prob_id" value="{{problem[0]}}">
            <input  type="hidden" name="user" value="{{current_user}}">
            <input  type="hidden" name="tim" value="{{tim}}">
            <input  type="hidden" name="key" value="{{key}}">
            <legend>评测信息</legend>
            <span class="help-block">请看数据添加帮助</span>
            <div class="form-group">
                <label for="inputFile" class="col-lg-2 control-label">上传数据</label>
                <div class="col-lg-10">
                    <span class="help-block">请上传zip压缩文件，里面<strong>直接</strong>为*.in和*.out。<strong>没有</strong>子文件夹。</span>
                    <span class="help-block">若数据太大可以分批上传，单次大小限制约90MB</span>
                    <span class="help-block">不要包含任何中文内容</span>
                    <input class="form-control" type="file" name="zip" id="inputFile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">是否覆盖之前数据</label>
                <div class="col-lg-10">
                    <span class="help-block">若选中下面方块则为覆盖，会删除之前数据；不选中这次添加的数据会和之前数据合并。</span>
                    <input class="form-control" type="checkbox" name="cover" id="inputFile" value="1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">数据预览</label>
                <div class="col-lg-10">
                    <span class="help-block">数据下载后可能没有后缀名，请手动添加或直接用文本编辑器打开。</span>
                    <span class="help-block">刚上传的文件可能需要刷新才能显示。</span>
                    <textarea class="form-control" rows="6" id="inputData" >{{problem[3]}}</textarea>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">重置</button>
                    <button type="submit" formmethod="post" class="btn btn-primary">提交</button>
                </div>
            </div>
        </fieldset>
    </form>

{% end %}