{% extends 'main.html' %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="" method="post">
            <h2>登录</h2>
            {% raw xsrf_form_html()%}
            <input type="text" class="form-control" placeholder="用户名" name="user" required autofocus>
            <input type="password" class="form-control" placeholder="密码" name="password" required>
            <input type="submit" class="btn btn-success btn-block" value="登录">
        </form>
    </div>
</div>

{% end %}