{% extends 'main.html' %}

{% block body %}
<h2>用户排名</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>学校</th>
            <th>格言</th>
            <th>通过数</th>
            <th>提交数</th>
            <th>通过率</th>
        </tr>
    </thead>
    <tbody>
        {%set num=num_from %}
        {% for row in users %}
        <tr>
            {%set num=num+1%}
            <td>{{num}}</td>
            <td><a href="/user/{{row[0]}}">{{row[0]}}</a></td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td><a href="/status?user={{row[0]}}">{{row[4]}}</a></td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: {{row[6]}}%"><span class="sr-only">{{row[6]}}%通过</span></div>
                    <div class="progress-bar progress-bar-warning" style="width: {{100-row[6]}}%"><span class='sr-only'>{{100-row[6]}}%错误</span></div>
                </div>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
<div class="center">
    <ul class="pagination">
        <li {% if pages[0][0] == 0%} class="disabled"{% end%}><a href="{{pages[0][2]}}">&laquo;</a></li>
        {% for row in pages[1] %}
        <li {% if row[2]%} class="active"{% end %}><a href="{{row[1]}}">{{row[0]}}</a></li>
        {% end %}
        <li {% if pages[0][1] == 0%} class="disable"{% end%}><a href="{{pages[0][3]}}">&raquo;</a></li>
    </ul>
</div>
{% end %}
