{% extends 'main.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2>用户信息</h2>
        </div>
        <div class="col-md-4">
            <h2></h2>
            {% if user[0].encode('utf-8') == current_user %}
            <button type="button" class="btn btn-info">我的私信</button>
            {% else %}
            <button type="button" class="btn btn-info">发私信</button>
            {% end %}
            <div class="btn-group">
                {% if user[0].encode('utf-8') == current_user %}
                 <button class="btn btn-info" onclick="window.location.href='/user/{{user[0]}}/edit/0'">修改资料</button> 
                {% end %}
                {% if user[0].encode('utf-8') != current_user %}
                 <button class="btn btn-info" onclick="window.location.href='/user/{{current_user}}'">我的资料</button>
                {% end %}
                 <button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu" >
                    <li>
                        <a href="#post">讨论</a>
                    </li>
                    <li>
                        <a href="#msg">报错</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li >
                        <a href="/user/{{user[0]}}/edit/1">管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h1 class="username">{{user[0]}}</h1>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">邮箱</h3>
                </div>
                <div class="panel-body">
                    {{user[1]}}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">学校</h3>
                </div>
                <div class="panel-body">
                    {{user[2]}}
                </div>
            </div>
            
        </div>
        <div class="col-md-5">
            <img class="img-rounded img-thumbnail" src="{{get_pic(user[1],256)}}">
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">格言</h3>
                </div>
                <div class="panel-body">
                    {{user[3]}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr><td>总提交</td>
                        <td><a href="/status?user={{user[0]}}">{{user[7][0]}}</a></td></tr>
                    <tr><td>通过</td>
                        <td>{{user[7][1]}}</td></tr>
                    <tr><td>答案错误</td>
                        <td>{{user[7][2]}}</td></tr>
                    <tr><td>超时</td>
                        <td>{{user[7][3]}}</td></tr>
                    <tr><td>超内存</td>
                        <td>{{user[7][4]}}</td></tr>
                    <tr><td>运行错误</td>
                        <td>{{user[7][5]}}</td></tr>
                    <tr><td>编译错误</td>
                        <td>{{user[7][6]}}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">通过的题目(共{{user[5]}}道)</h3>
                </div>
                <div class="panel-body">
                    {% for p in user[8]%}
                    <span>{{p}}</span>&nbsp;
                    {% end %}
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{(user[7][1]+1)/(user[7][0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-danger" style="width: {{(user[7][2])/(user[7][0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-warning" style="width: {{(user[7][3])/(user[7][0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-info" style="width: {{(user[7][4])/(user[7][0]+1)*100}}%"></div>
                <div class="progress-bar progress-bar-progress-bar-striped" style="width: {{(user[7][5])/(user[7][0]+1)*100}}%"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">最近发布的文章</h3>
                </div>
                <div class="panel-body">
                    未开发
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">最近发布的评论</h3>
                </div>
                <div class="panel-body">
                    未开发
                </div>
            </div>
        </div>
    </div>
{% end %}